/* ==== 
 --------- (3.05) custom cursor styles start ---------
 ==== */

.cursor-outer {
  margin-inline-start: -12px;
  margin-top: -12px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--quaternary-color);
  background-color: var(--quaternary-color);
  box-sizing: border-box;
  z-index: 10000000;
  opacity: 0.34;
  transition: all 0.4s ease-out 0s;

  &.cursor-hover {
    opacity: 0.14;
  }

  &.cursor-big {
    opacity: 0;
  }
}

.mouseCursor {
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  bottom: 0;
  pointer-events: none;
  border-radius: 50%;
  transform: translateZ(0);
  visibility: hidden;
  text-align: center;
  &.cursor-big {
    width: 20px;
    height: 20px;
    margin-inline-start: -12px;
    margin-top: -12px;
  }
}

.cursor-inner {
  margin-inline-start: -3px;
  margin-top: -3px;
  width: 10px;
  height: 10px;
  z-index: 10000001;
  background-color: var(--quaternary-color);
  opacity: 1;
  transition: all 0.24s ease-out 0s;

  span {
    color: var(--template-color);
    line-height: 60px;
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
  }

  &.cursor-big {
    span {
      opacity: 1;
    }
  }

  &.cursor-hover {
    margin-inline-start: -10px;
    margin-top: -10px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #686363;
    opacity: 0;
  }
}

/* ==== 
 --------- (3.05) custom cursor styles end ---------
 ==== */
